@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#1a1a1a, rgba(255, 255, 255, 0.87));
  background-color: light-dark(#ededed, #242424);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply min-h-screen grid place-items-center;
}

.crossword-outline {
  filter: drop-shadow(2px 0 0 black) drop-shadow(0 2px 0 black) drop-shadow(0 -1px 0 black) drop-shadow(-1px 0 0 black);
}

.crossword-bg {
  animation: changeBg infinite 20s;
}

@keyframes changeBg {
  0% {
    background-color: darkseagreen;
  }
  33% {
    background-color: lightpink;
  }
  66% {
    background-color: lightskyblue;
  }
  100% {
    background-color: darkseagreen;
  }
}